<div class="container-fluid">
    <div class="row">
        <div id="footer" class="col-md-12 d-flex">
            <div class="col-md-4 offset-2">Test</div>
            <div class="col-md">Test</div>
        </div>
    </div>
</div>
</body>

</html>