@media screen and (max-width: 767px) {
  #fadeinscroll {
    height: 1250px;
  }
  #projekt1 img,
  #projekt2 img,
  #projekt3 img {
    height: 200px;
  }
}
.jumbotron {
  height: 400px;
}

.headers {
  text-align: center;
  color: #364959;
}

.headers p {
  font-size: 25px;
  font-weight: 300;
}

#card1 {
  background-color: #5872a6;
}

#card2 {
  background-color: #d9b79a;
}
#card3 {
  background-color: #7787a6;
}

body {
  background-color: #d8e8f2;
  font-family: "Raleway", sans-serif;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.bg-dark {
  background-color: #364959 !important;
}

.card-img-top {
  color: white;
}

hr {
  color: #d8e8f2;
}

.cardtitle {
  font-size: 1.5em;
  color: white;
}

.card {
  -webkit-box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.75);
  height: 400px;
}

.card-text {
  color: white;
}

.card-body hr {
  background-color: white;
}

#footer {
  background-color: #364959;
  color: white;
  text-align: center;
  font-size: 1rem;
  justify-content: center;
}

#paralax {
  background-color: #364959;
  width: 100%;
  height: 125px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.29);
}
#Portfolio {
  background-color: #d8e8f2;
}

#headersport {
  color: white;
}

#slideSkill {
  height: 525px;
}

.slide {
  background-color: #666e73;
  height: 100px;
}

.resPonsive {
  text-align: center;
  padding-left: 0% !important ;
}

#fader {
  background-color: #666e73;
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
}

#form {
  width: 800px;
  background-color: #d8e8f2;
  border: 0px;
}

.nav-link:hover {
  background-color: white !important;
  color: #364959 !important;
  transition: background-color 2s, color 0, 2s;
}

.moveSlide1 {
  padding-left: 20%;
}
.moveSlide2 {
  padding-left: 35%;
}
.moveSlide3 {
  padding-left: 60%;
}
.moveSlide4 {
  padding-left: 75%;
}

.form-control {
  background-color: #d8e8f2;
  border: 2px solid #364959;
  padding: 5px 0px 5px 0px;
}

#submitButton {
  color: #364959;
  background-color: transparent !important;
  border: 2px solid #364959;
}

#submitButton:hover {
  color: white;
  background-color: #364959 !important;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #364959;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#projekt1:hover .image,
#projekt2:hover .image,
#projekt3:hover .image {
  opacity: 0.3;
}

#projekt1:hover .middle,
#projekt2:hover .middle,
#projekt3:hover .middle {
  opacity: 1;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.img-fluid {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

#img1,
#img2,
#img3 {
  border-radius: 15px;
}
