<%- include ('./partials/header') %>

<div class="container-fluid">
  <div class="row" id="fader">
    <div id="slide1" class="col-md-12 slide moveSlide1">Why</div>
    <div id="slide2" class="col-md-12 slide moveSlide2">you should</div>
    <div id="slide3" class="col-md-12 slide moveSlide3">pick</div>
    <div id="slide4" class="col-md-12 slide moveSlide4">me?</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-3">
      <div class="col-sm-12 headers pt-3">
        <h1>About me</h1>
        <hr />
        <p>
          IT bachelor with all-around knowledge of computers currently learning
          and focusing on full-stack web development. As a web administrator in
          a few companies, I wanted to learn more about how integration worked
          with ERP systems and web CMS, what is actually happening with SQL
          databases how they are connected with APIs ect. That lead me to
          self-learning new front and back end web technologies. I'm currently
          looking for work in Web development to expand my knowledge and start a
          professional career.
        </p>
      </div>
    </div>
    <div class="col-sm-12 headers">
      <h1>Why me</h1>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 px-1 my-1">
      <div id="card1" class="card fadeinout">
        <div class="card-img-top d-flex justify-content-center">
          <i class="fas fa-user-cog fa-7x pt-2"></i>
        </div>
        <div class="card-body">
          <div class="card-title text-center">
            <p class="cardtitle">Self-motivated</p>
          </div>
          <hr />
          <div class="card-text">
            I've been learning both front-end and back-end technologies on daily
            basis for a year. I've used sites like Udemy and Coursera to learn
            and expand my interest even more.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 px-1 my-1">
      <div id="card2" class="card fadeinout">
        <div class="card-img-top d-flex justify-content-center">
          <i class="fas fa-handshake fa-7x pt-2"></i>
        </div>
        <div class="card-body">
          <div class="card-title text-center">
            <p class="cardtitle">Team player</p>
          </div>
          <hr />
          <div class="card-text">
            I like to work in teams, socialize and meet pepole. I belive good
            atmospehre on the job is crucial for success.
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 px-1 my-1">
      <div id="card3" class="card">
        <div class="card-img-top d-flex justify-content-center">
          <i class="fas fa-rocket fa-7x pt-2"></i>
        </div>
        <div class="card-body">
          <div class="card-title text-center">
            <p class="cardtitle">Competitive</p>
          </div>
          <hr />
          <div class="card-text">
            I belive being competitive is a biggest motivator improve yourself.
            Being in a competitive atmosphere forces you to learn more, expand
            your knowlege.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="fadeinscroll" class="row pb-3">
      <div class="col-sm-12 mb-3">
        <div class="col-sm-12d pt-3" id="responsive">
          <h1 class="headers">Skills</h1>
          <hr />
          <div class="col-md-12" id="slideSkill">
            <div class="row fadein">
              <div class="col-md-3 d-flex justify-content-center">
                <i class="far fa-file-code fa-7x"></i>
              </div>
              <div class="col-md">
                <h1>HTML & CSS</h1>
                <p>
                  Good knowlege of HTML & CSS, I know how to use grid system. I
                  preffer Bootstrap framework for drawing grids since im more
                  focused on the backend.
                </p>
              </div>
            </div>
            <div class="row pt-3 fadein">
              <div class="col-md-3 d-flex justify-content-center">
                <i class="fab fa-js-square fa-7x"></i>
              </div>
              <div class="col-md">
                <h1>Javascript</h1>
                <p>
                  Basic knowlege of Javascript and JQuery.Current goal is to
                  make Javascript my primary programing language
                </p>
              </div>
            </div>
            <div class="row pt-3 fadein">
              <div class="col-md-3 d-flex justify-content-center">
                <i class="fab fab fa-node fa-7x"></i>
              </div>
              <div class="col-md">
                <h1>Node.js</h1>
                <p>
                  Using node and express to create Web appications. For now i
                  know CRUD, Authentication using Passport.js and making user
                  roles
                </p>
              </div>
            </div>
            <div class="row pt-3 fadein">
              <div class="col-md-3 d-flex justify-content-center">
                <i class="fas fa-database fa-7x"></i>
              </div>
              <div class="col-md">
                <h1>PostgreSQL and MongoDB</h1>
                <p>
                  Good knowledge of SQL language and the concepts of SQL.
                  MongoDB is cool too!
                </p>
              </div>
            </div>
          </div>
        </div>
        <hr class="mt-5" />
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 headers" id="paralax">
      <h1 class="pt-3" id="headersport">Portfolio</h1>
      <p style="color: white;">All work I've currently done.</p>
    </div>
  </div>
</div>

<div class="container" id="Portfolio">
  <div class="row">
    <div class="col-md-4 col-sm-6">Restoran</div>
    <div class="col-md-4 col-sm">Baze i crud</div>
    <div class="col-md-4 col-sm">Lorem, ipsum dolor.</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 headers">
      <h1 class="pt-3">Contact Me</h1>
      <hr />
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <form
        action="/contact"
        method="POST"
        id="form"
        class="mb-2 border rounded"
      >
        <div class="form-group p-2">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" />
          <label for="email" class="pt-2">E-mail</label>
          <input type="text" class="form-control" name="email" />
        </div>
        <div class="form-group p-2">
          <label for="message">Message:</label>
          <textarea
            class="form-control"
            name="message"
            id="name"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="col-md-12 d-flex justify-content-center pb-2">
          <input id="submitButton" class="btn btn-secondary" value="Submit" />
        </div>
      </form>
    </div>
  </div>
</div>
<%- include ('./partials/footer') %>
